* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: inter, sans-serif;
}

/* FIRST APP */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    color: white;
}

.nav-logo {
    width: 60px;
}
.nav-item {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-item > li {
    padding: 10px;
}

.main-content {
    background-color: aquamarine;
}

.footer {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    height: 30px;
}

/* SECOND APP INSIDE COMPONENT FOLDER */

.nav-bar {
    background-color: rgb(26, 9, 9);
    display: flex;
    align-items: center;
    height: 90px;
    padding: 30px 25px;
}
.nav-logo-text, .nav-title {
    margin: 0;
}

.nav-logo-text {
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
}

.nav-title {
    color: #DEEBF8;
    font-weight: 600;
}

.nav-icon {
    margin-right: 7px;
    width: 70px;
}

.main {
    padding: 30px;
    background-color: #193b44;
    color: white;
    height: 500px;
    background-image: url(./logo.png);
    background-repeat: no-repeat;
    background-position: 130% 75%;
}

.main-title {
    font-size: 39px;
    letter-spacing: -0.05em;
}

.list {
    line-height: 35px;
    padding-block: 20px;
}

.list > li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}

/* THIRD APP INSIDE CARD FOLDER */

.info-card {
    background-color: #5b77db;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.info-session {
    display: flex;
    justify-content: center;
    gap: 150px;
    width: 100%;
}

.info {
    display: grid;
    justify-content: center;
    background-color: #1A1B21;
    width: 23.5%;
    border-radius: 10px 10px  0 0 ;
}

.info-pics {
    width: 100%;
    border-radius: 10px 10px  0 0 ;
}

.info-name {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color: white;
}

.info-job {
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    line-height: 20px;
    color: #F3BF99;
}

.info-site {
    text-decoration: none;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    line-height: 23px;
    color: #F5F5F5;
}

.info-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.info-email, .info-linkedin {
    border-radius: 6px;
    width: 40%;
    height: 34px; 
    border-style: none;
}

.info-email {
    margin-right: 10px;
    background: linear-gradient(0deg, #D1D5DB, #D1D5DB), linear-gradient(0deg, #FFFFFF, #FFFFFF);
}

.info-linkedin {
    background: #5093E2;
}

.about-session {
    display: flex;
    justify-content: center;
    gap: 150px;
    width: 100%;
}

.about {
    display: grid;
    justify-content: center;
    background-color: #1A1B21;
    color: white;
    width: 23.5%;
    padding: 25px;
}

.about-title{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #F5F5F5;   
}

.about-text{
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;  
    color: #DCDCDC;
}

.interest-session {
    display: flex;
    justify-content: center;
    gap: 150px;
    width: 100%;
}

.interest {
    display: grid;
    justify-content: center;
    background-color: #1A1B21;
    color: white;
    padding: 0 25px 25px;
    width: 23.5%;
}

.interest-title{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #F5F5F5;   
}

.interest-text{
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;  
    color: #DCDCDC;
}

.info-footer-session {
    display: flex;
    justify-content: center;
    gap: 150px;
    width: 100%;
}

.info-footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-color: #000000;
    padding: 20px;
    border-radius: 0 0 5px 5px;
    width: 23.5%;
}